:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

mat-card-content {
    width: 90vw;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}