version: '2'

services:
  mongo:
    image: mongo
    ports:
     - 27017:27017
    volumes:
    - rsvpmanmongo:/data/db
  web:
    image: alombardo4/rsvpman
    environment:
      - SEED=1
    ports:
      - 4000:4000
    links:
      - mongo:db

volumes:
  rsvpmanmongo: