@import '~@angular/material/theming';

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
        margin-top: 10px;
        font-size: 12px;
        text-decoration: none;
    }

    mat-card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    mat-card {
        margin: 10px;

        .results {
            a {
                font-size: 14px;
            }
        }
    }

    form {
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
            text-align: center;
            word-wrap: normal;

            &.error {
                color: mat-color($mat-red, 500);
            }
        }

        mat-form-field {
            width: 200px;
    
            /deep/ span.mat-input-placeholder-wrapper {
                text-align: center
            }
    
            /deep/ input {
                text-align: center;
            }
        }
    }


}