@import '~@angular/material/theming';

p.error {
    color: mat-color($mat-red, 500);
}

div.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}