@import '~@angular/material/theming';

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    mat-card-content {
        width: 80vw;
        max-height: 90vh;
        height: 600px;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    a {
        margin-top: 10px;
        font-size: 12px;
        text-decoration: none;
    }

    form {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;

        p {
            text-align: center;
            word-wrap: normal;

            &.error {
                color: mat-color($mat-red, 500);
            }
        }

        mat-form-field {
            width: 100%;
    
            /deep/ span.mat-input-placeholder-wrapper {
                text-align: center
            }
    
            /deep/ input {
                text-align: center;
            }
        }
    }


}