mat-toolbar-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    * {
        font-size: 14px;
    }

    mat-select {
        width: 120px;
    }
}