mat-card.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

mat-toolbar-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    
    mat-card {
        width: 20%;
        height: 120px;
        cursor: pointer;
    }
}